 * {
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    background-color: #D5EBF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos {
    background-color: white;
    padding: 30px 25px;
    border-radius: 10px;
    width: 300px;
}

.pos h2 {
    margin-bottom: 20px;
}

.pos input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pos button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.pos button {
    background: #1a7ae1;
}

.pos p {
    margin-top: 15px;
    font-size: 13px;
}

.pos a {
    color: #0a78ef;
    text-decoration: none;
    
} 
